#container-res {
    width: 100%;
}

#container-view {
    width: 75%;
    float: left;
}

#container-button {
    width: 24%;
    float: right;
}
.btn-category0{
    width:98%;
    display: block;
    margin: 1% 1%;
    height: 6em;
    background-color: dodgerblue;
}
.btn-category0:focus-within{
    background-color: goldenrod;
}
.btn-category {
    display: inline;
    width: 48%;
    margin: 1% 1%;
    height: 6em;
    background-color: dodgerblue;
    /*font-size: 1em;*/
}
.btn-category:nth-child(odd){
    background-color: palevioletred;
}
.btn-category:focus-within{
    background-color: goldenrod;
}